<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @dev.name %>
</p>

<p>
  <b>Country:</b>
  <%= @dev.country %>
</p>


<%= link_to 'Edit', edit_dev_path(@dev) %> |
<%= link_to 'Back', devs_path %>
