<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Address:</b>
  <%= @customer.address %>
</p>

<p>
  <b>Latitude:</b>
  <%= @customer.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @customer.longitude %>
</p>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@customer.latitude}%2C#{@customer.longitude}" %>


<p>
  <b>Phone:</b>
  <%= @customer.phone %>
</p>

<p>
  <b>Dob:</b>
  <%= @customer.dob %>
</p>

<p>
  <b>Age:</b>
  <%= controller.get_age(@customer.dob) %>
</p>

<% if @customer.rentals.empty? %>
	<p> We have no rentals by this customer, check back later </p>
<% else %>
	<p>These are the rentals of this customer:</p>
		<% @customer.rentals.each do |r| %>
			
			<p><%= r.game.title %></p>
			<p>Date Rented: <%= r.date_rented %></p>
			<p>Date Due: <%= r.date_due %></p>
			<p><%# = image_tag(m.poster, :size => "80x80" )%></p>
			<br>
		<% end %>
		<br>
<% end %>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
