<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
  <%= @rental.customer_id %>
</p>

<p>
  <b>Game:</b>
  <%= @rental.game_id %>
</p>

<p>
  <b>Date rented:</b>
  <%= @rental.date_rented %>
</p>

<p>
  <b>Date due:</b>
  <%= @rental.date_due %>
</p>


<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
