<h1>Listing games</h1>

<div id="search">
	<%= render :partial => 'games/search' %>
</div>

<table>
  <tr>
    <th>Title</th>
    <th>Genre</th>
    <th>Rating</th>
    <th>Dev</th>
	<th>Rental Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.title %></td>
    <td><%= game.genre %></td>
    <td><%= game.rating %></td>
    <td><%= game.dev_id %></td>
	<td><%= game.price %></td>
    <td><%= link_to 'Show', game %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
<p>Luke Hudson</p>

