<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @game.title %>
</p>

<p>
  <%= image_tag(@game.picture) %>
</p>

<p>
  <b>Genre:</b>
  <%= @game.genre %>
</p>

<p>
  <b>Rating:</b>
  <%= @game.rating %>
</p>

<p>
  <b>Dev:</b>
  <%= @game.dev.name %>
</p>

<p>
  <b>Price to rent:</b>
  <%= @game.price %>
</p>

<% if @game.posts.empty? %>
    <h3>You are the first  to comment </h3>
<% else %>
 <h2>What others felt about this:</h2>
  <% @game.posts.reverse.each do |post| %>
	<p><%= post.content %>
         Posted <%= time_ago_in_words(post.created_at) %> ago by 		<%= post.customer.name %></p>
   <% end %>
<% end %>


<h2>Please leave a comment:</h2>
	<%= form_for([@game, Post.new]) do |f| %>
  		<%= f.text_area :content, :rows => 3 %>  				
			<div class="actions">
			<%= f.submit "Post a Comment"%>
		</div>
	<% end %>
	
<% if @game.rentals.empty? %>
    <h3>No-one else has rented this title </h3>
<% else %>
 <h2>Other uses who have rented this game:</h2>
  <% @game.rentals.reverse.each do |rental| %>
	<p>
         Rented <%= time_ago_in_words(rental.created_at) %> ago by 		<%= rental.customer.name %></p>
   <% end %>
<% end %>
	
<%= form_for([@game, Rental.new]) do |f| %>
  <p>----------------</p>
  <h2>Rent for 5 days:</h2>
  <p>
  <b>Game Will be Due on:</b>
  <%= (Date.today + 5.days).to_formatted_s(:long)  %>
</p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back', games_path %>
<p>Luke Hudson</p>
