<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @game.title %>
</p>

<p>
  <%= image_tag(@game.picture) %>
</p>

<p>
  <b>Genre:</b>
  <%= @game.genre %>
</p>

<p>
  <b>Rating:</b>
  <%= @game.rating %>
</p>

<p>
  <b>Dev:</b>
  <%= @game.dev.name %>
</p>

<% if @game.posts.empty? %>
    <h3>You are the first  to comment </h3>
<% else %>
 <h2>What others felt about this:</h2>
  <% @game.posts.reverse.each do |post| %>
	<p><%= post.content %>
         Posted <%= time_ago_in_words(post.created_at) %> ago by 		<%= post.customer.name %></p>
   <% end %>
<% end %>


<h2>Please leave a comment:</h2>
	<%= form_for([@game, Post.new]) do |f| %>
  		<%= f.text_area :content, :rows => 3 %>  				
			<div class="actions">
			<%= f.submit "Post a Comment"%>
		</div>
	<% end %>



<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
