<!DOCTYPE html>
<%= javascript_include_tag :defaults, "rails.validations" %>
<html>
<head>
  <title>Rentapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="banner">
	<%= @page_title || "GG-NO-RE Game Rental" %>
</div>
<div id="nav">
    <ul>
		<% if !signed_in? %>
			<li><%= link_to "Sign In", signin_path %></li>
		<% else %>
			<li>Signed in as <%= @current_user.name  %></li>
			<li><%= link_to "Sign Out", signout_path %></li>
		<% end %>
			<li><%= link_to "Games", games_path%></li>
			
    </ul>
</div>

<%= yield %>


</body>
</html>
